<h1>Welcome to the DirtyBranding App, bitch !</h1>
<form data-ng-submit="search()">
    <input type="text" data-ng-model="searchForm.prefixes" placeholder="Prefixes"><br><br>
    <input type="text" data-ng-model="searchForm.ideas" placeholder="Votre idée"><br><br>
    <input type="text" data-ng-model="searchForm.suffixes" placeholder="Suffixes"><br>
    <input type="text" data-ng-model="searchForm.separators" placeholder="Separators"><br>
    <input type="text" data-ng-model="searchForm.extensions" placeholder="Extensions"><br>
    <input type="submit">
</form>
